
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

/* font-family: 'Barriecito', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
  /* font-family: 'Bricolage Grotesque', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* font-family: 'Nunito', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
/* font-family: 'Roboto Slab', serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&display=swap');
/* font-family: 'Playfair Display', serif; */



nav{
    
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
 
    background-color: #E3AFBC; 
    box-shadow: 0 8px 10px -8px #093d87;
    position:fixed;
    top:0;
    z-index:99;
    left:0;
    right:0;
    font-family: 'Barriecito', cursive;

}

.companylogo img{
    width: 80px;
    width: 130px;
    
}


:root{

    --background-color-dark:#0B2447;
    --background-color-light:#91C8E4;
    --background-color-verylight:#F6F4EB;
    --gray-color-light:#F1F6F9;
    --gray-color-dark:#9BA4B5;
    --fontdark-color1:#323643;
    --fontdark-color2:#272932;
    --black:#1B1A17;

}

*{
padding: 0;
margin:0;
box-sizing: border-box;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bold;
    color: var(--black);
    background-color: #E3E2DF;
}

p{

font-family: 'Roboto Slab', serif;
color:var(--fontdark-color2);
line-height: 1.5rem;

}

a{
    text-decoration: none;
}

.navlist ul{

    gap: 10px;
    font-size: 25px;
    justify-content: space-between;
    list-style: none;
}

.flex{

display: flex;
align-items: center;

}

.container{

    max-width: 1190px;
    margin-inline: auto; 
    overflow: hidden;


}

.main-nav{
    justify-content: space-between;
    padding: 40px 0px;
    

}

.hover-link{
cursor: pointer;
}

.hover-link:hover{

color:#4C6793;
font-size: 26px;
text-shadow: 0px 0px 5px rgba(92, 184, 228, 0.76);
}

.hover-link:active{

color: #093d87;
}

.searchbar{
height: 30px;
gap: 7px;

}

.news-search{
height:100%;
width: 180px;
letter-spacing: 1px;
padding-inline: 10px;
border-radius: 4px;
border:0.5px solid #9BA4B5;
background-color: #E8E8E8;
font-family: 'Playfair Display', serif;

}
.search-button{
    background-color:#5D001E ;
    padding: 6px 11px 6px 11px;
    border-radius: 4px;
    color: #F6F1F1;
    border: none;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
.search-button:hover{
    background-color: #176B87;
    padding: 7px 12px 7px 12px;

}




.card-header img{
    height:180px;
    width: 100%;
    object-fit: cover;

}

main{

padding-block:20px;
margin-top:130px;


}

.cards-container{

justify-content: space-between;

flex-wrap: wrap;
row-gap: 20px;
align-items: start;

}

.card{
margin:10px;
width:360px;
min-height:400px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border-radius: 4px;
cursor: pointer;
background-color:#EE4C7C;
overflow: hidden;
transform: all 2.3s ease;
}

.card:hover{
background-color:#FF8DA7;
transform: translateY(-2px);
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cardcontent{
padding: 20px;

}

.news-source{

    margin-block: 10px;
}


.nav-item.active{
color:gray;
}










































